a {
	text-decoration: none;
}
body {
	background-color: #eaeaea;
	font-family: 'Arial' , 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1em;
	line-height: 200%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
header {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 1em;
	color: #777777;
	background-color: #ffffff;
	overflow: auto;
	border-bottom: 2px solid #d9d9d9;
}
h1 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #4aaaa5;
}
h2 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 1.25em;
	font-weight: bold;
	color:#4aaaa5;
}
nav {
	float: right;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1em;
	margin-top: 20px;
}
nav a {
	padding: 0 10px;
	color: #777777;
}
section {
	background-color: #eaeaea;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}
footer {
	background-color: #666666;
	text-align: center;
	color: #ffffff;
	font-size: .75em;
	clear: both;
	border-top: 6px solid #4aaaa5;
	padding: 30px;
}
html {
	height: 100%;
}
.main-content {
	float: left;
	background: #ffffff;
	width: 570px;
	margin-top: 20px;
	padding: 0 40px 30px 40px;
	border: 1px solid #d9d9d9;
}
.sidebar {
	float: right;
	width: 270px;
	box-sizing: border-box;
}
.top-bar {
	float: left;
	color: #ffffff;
	background: #4aaaa5;
	padding: 20px;
	width: auto;
}
.bottom-border {
	padding: 20px 0 20px 0;
	border-bottom: 3px solid #eaeaea;
}
.side-border {
	border-right: 1px solid #eaeaea;
}
.portfolio {
	position: relative;
	float: left;
}
.profile-img {
	position: relative;
	float: left;
	padding: 0 20px 20px 0;
}
.img-txt {
	position: absolute;
	height: 30px;
	width: 250px;
	top: 150px;
	background: #4aaaa5;
	color: #ffffff;
	padding: 10px;
	text-align: center;
	font-family: Georgia, Times, 'Times New Roman', serif;
}
.img-txt-r {
	margin-left: 25px;
}
.para {
	padding-top: 20px;
	color: #777777;
}
.spacing {
	margin: 0 6px 0 6px;
}
.header {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.sticky {
	flex: 1;
}
.port-img-l {
	float: left;
	padding: 10px 0 25px 0;
	width: 270px;
}
.port-img-r {
	float: right;
	padding: 10px 0 25px 25px;
	width: 270px;
}
#firstname, #lastname {
	width: 565px;
}
#message {
	width: 565px;
	height: 200px;
}
#link {
	padding-right: 0;
}